<div class="p-2 mb-2 bg-primary border-round" width="w-full" height="h-7rem">
	<p-button size="small" class="mx-1" icon="pi pi-bars" [text]="true" severity="warning"></p-button>

	<!-- <p-menubar size="small" class="p-0">
    <ng-template #name pTemplate="start">

    </ng-template>

    <ng-template pTemplate="end">
      <p-button
        size="small"
        class="mx-1"
        icon="pi pi-bell"
        [text]="true"
        severity="warning"
      ></p-button>

      <p-button
        size="small"
        class="mx-1"
        icon="pi pi-bookmark"
        [text]="true"
        severity="secondary"
      ></p-button>

      <p-button
        size="small"
        class="mx-1"
        icon="pi pi-user"
        [text]="true"
        severity="info"
      ></p-button>
    </ng-template>
  </p-menubar> -->
</div>
