<div class="grid grid-nogutter">
	<div class="col-0 md:col-7 overflow-hidden">
		<p-image [src]="imgBackground" class="w-3 h-screen" width="100%" height="100%" alt="background1"></p-image>
	</div>

	<div class="col-12 md:col-5 surface-card p-4 shadow-2 border-round">
		<div class="text-center mb-5">
			<div class="text-900 text-3xl font-medium mb-1">Crear cuenta</div>
			<span class="text-600 font-medium line-height-3">Registrate en la plataforma</span>
		</div>

		<div class="m-o p-0">
			<div class="mb-3">
				<span class="p-float-label">
					<input pInputText id="identificacion" class="w-full" />
					<label for="identificacion">Identificación</label>
				</span>
			</div>

			<div class="formgrid grid">
				<div class="field col">
					<span class="p-float-label">
						<input pInputText id="nombre" class="w-full" />
						<label for="nombre">Nombre</label>
					</span>
				</div>

				<div class="field col">
					<span class="p-float-label">
						<input pInputText id="segundoNombre" class="w-full" />
						<label for="segundoNombre">Segundo Nombre</label>
					</span>
				</div>
			</div>

			<div class="mb-3">
				<span class="p-float-label">
					<input pInputText id="apellido" class="w-full" />
					<label for="apellido">Apellido</label>
				</span>
			</div>

			<div class="mb-3">
				<span class="p-float-label">
					<input pInputText id="segundoApellido" class="w-full" />
					<label for="segundoApellido">Segundo Apellido</label>
				</span>
			</div>

			<div class="formgrid grid p-fluid">
				<div class="field col">
					<span class="p-float-label">
						<p-inputNumber id="telefono1" class="w-full" />
						<label for="telefono1">Telefono 1</label>
					</span>
				</div>

				<div class="field col">
					<span class="p-float-label w-full">
						<p-inputNumber id="telefono2" />
						<label for="telefono2">Telefono 2</label>
					</span>
				</div>
			</div>

			<div class="mb-3">
				<p-inputGroup>
					<p-inputGroupAddon>
						<i class="pi pi-at"></i>
					</p-inputGroupAddon>
					<span class="p-float-label">
						<input type="email" pInputText id="email" class="w-full" />
						<label for="email">Correo Electronico</label>
					</span>
				</p-inputGroup>
			</div>

			<div class="formgrid grid p-fluid">
				<div class="field col">
					<p-dropdown
						[options]="roles"
						optionLabel="rol"
						[showClear]="true"
						placeholder="Escoge un rol"
						class="w-full"
					></p-dropdown>
				</div>

				<div class="field col">
					<span class="p-float-label">
						<input pInputText id="tituloPuesto" class="w-full" />
						<label for="tituloPuesto">Titulo del Puesto</label>
					</span>
				</div>
			</div>

			<div class="mb-3 p-fluid">
				<span class="p-float-label">
					<p-password [toggleMask]="true" class="w-full" id="password">
						<ng-template pTemplate="header">
							<h6>Escribe una contraseña</h6>
						</ng-template>
						<ng-template pTemplate="footer">
							<p-divider></p-divider>
							<p class="mt-2">Sugerencias</p>
							<ul class="pl-2 ml-2 mt-0">
								<li>Al menos una letra en minúscula</li>
								<li>Al menos una letra en mayúscula</li>
								<li>Al menos un numero</li>
								<li>Minímo 8 caracteres</li>
							</ul>
						</ng-template>
					</p-password>
					<label for="password">Contraseña</label>
				</span>
			</div>

			<div class="mb-3 p-fluid">
				<span class="p-float-label">
					<p-password class="w-full" id="repeatPassword" [feedback]="false" />
					<label for="repeatPassword">Contraseña</label>
				</span>
			</div>

			<button pButton pRipple aria-label="Ingresar" label="Ingresar" icon="pi pi-user" class="w-full"></button>
		</div>
		<div class="flex justify-content-center m-5">
			<span class="text-600 font-medium line-height-3">¿Ya tienes cuenta? bien, </span>
			<a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Inicia sesión</a>
		</div>
	</div>
</div>
