<p-table
	#dtstock
	[value]="productos"
	[(selection)]="selectedProductos"
	dataKey="codigo"
	[tableStyle]="{ 'min-width': '50rem' }"
	[paginator]="true"
	[rows]="10"
	[showCurrentPageReport]="true"
	currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
	[rowsPerPageOptions]="[10, 20, 50, 100]"
	[scrollable]="true"
	scrollHeight="500px"
	[resizableColumns]="true"
	styleClass="p-datatable-sm"
	[filterDelay]="0"
	[globalFilterFields]="globalFilterFieldsData()"
	editMode="row"
>
	<ng-template pTemplate="caption"
		><div class="flex align-items-center flex-wrap">
			<p-inputGroup>
				<p-inputGroupAddon><i class="pi pi-search"></i></p-inputGroupAddon>
				<input
					pInputText
					type="text"
					(input)="applyFilterGlobal($event, 'contains', dtstock)"
					placeholder="Buscar palabra ..."
				/>
				<button type="button" pButton outlined="true" icon="pi pi-filter-slash" (click)="clear(dtstock)">
					Limpiar
				</button></p-inputGroup
			>
		</div>
	</ng-template>

	<ng-template pTemplate="header">
		<tr>
			<th>
				<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
			</th>
			<th><i class="pi pi-hashtag"></i></th>
			<th pSortableColumn="articulo">
				<div class="flex justify-content-start align-items-center">
					Articulo<p-sortIcon field="articulo" /><p-columnFilter type="text" field="articulo" display="menu" />
				</div>
			</th>
			<th pSortableColumn="fecha">
				<div class="flex justify-content-start align-items-center">
					Fecha<p-sortIcon field="fecha" /><p-columnFilter type="date" field="fecha" display="menu" />
				</div>
			</th>
			@if (isProductoEntrada() || isProductoStock()) {
				<th pSortableColumn="entrada">
					<div class="flex justify-content-start align-items-center">
						Entrada<p-sortIcon field="entrada" /><p-columnFilter type="numeric" field="entrada" display="menu" />
					</div>
				</th>
			}
			@if (isProductoSalida() || isProductoStock()) {
				<th pSortableColumn="salida">
					<div class="flex justify-content-start align-items-center">
						Salida<p-sortIcon field="salida" /><p-columnFilter type="numeric" field="salida" display="menu" />
					</div>
				</th>
			}
			@if (isProductoStock()) {
				<th pSortableColumn="stock">
					<div class="flex justify-content-start align-items-center">
						Stock<p-sortIcon field="stock" /><p-columnFilter type="numeric" field="stock" display="menu" />
					</div>
				</th>
			}
			<th><i class="pi pi-file-edit"></i></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-producto let-editing="editing" let-ri="rowIndex">
		<tr [pEditableRow]="producto">
			<td>
				<p-tableCheckbox [value]="producto"></p-tableCheckbox>
			</td>
			<td>{{ producto.codigo }}</td>
			<td>
				<p-cellEditor
					><ng-template pTemplate="input"
						><input pInputText type="text" [(ngModel)]="producto.articulo" required />
					</ng-template>
					<ng-template pTemplate="output"> {{ producto.articulo }}</ng-template>
				</p-cellEditor>
			</td>
			<td>{{ producto.fecha | date: 'd/MM/yy, h a' }}</td>
			@if (isProductoEntrada()) {
				<td class="field-number">
					<p-cellEditor
						><ng-template pTemplate="input"
							><p-inputNumber inputStyleClass="custom-width-number" [(ngModel)]="producto.cantidadEntrada" />
						</ng-template>
						<ng-template pTemplate="output"> {{ producto.cantidadEntrada }}</ng-template>
					</p-cellEditor>
				</td>
			}
			@if (isProductoSalida()) {
				<td>
					<p-cellEditor
						><ng-template pTemplate="input"
							><p-inputNumber inputStyleClass="custom-width-number" [(ngModel)]="producto.cantidadSalida" />
						</ng-template>
						<ng-template pTemplate="output"> {{ producto.cantidadSalida }}</ng-template>
					</p-cellEditor>
				</td>
			}
			@if (isProductoStock()) {
				<td><p-tag [value]="producto.stock" [severity]="getStockSeverity(producto.stock)"> </p-tag></td>
			}
			<td>
				<div>
					@if (editing) {
						<p-button
							pRipple
							type="button"
							size="small"
							pInitEditableRow
							[text]="true"
							icon="pi pi-check"
							severity="success"
							(click)="onRowEditSave(producto)"
						></p-button>
						<p-button
							pRipple
							type="button"
							size="small"
							pCancelEditableRow
							[text]="true"
							icon="pi pi-times"
							severity="danger"
							(click)="onRowEditCancel(producto, ri)"
						></p-button>
					} @else {
						<p-button
							pRipple
							type="button"
							size="small"
							pInitEditableRow
							[text]="true"
							icon="pi pi-pencil"
							(click)="onRowEditInit(producto)"
						></p-button>
					}
				</div>
			</td>
		</tr>
	</ng-template>
</p-table>
