<div class="p-2 mb-1 surface-0 surface-card border-round flex flex-wrap" height="h-1rem">
	<div>
		<p-button
			size="small"
			class="mx-1"
			icon="pi pi-plus"
			[text]="!isAdding"
			(onClick)="addingEmit()"
			severity="success"
		></p-button>
		<p-button
			size="small"
			class="mx-1"
			icon="pi pi-pencil"
			[text]="!isEditing"
			(click)="editingEmit()"
			severity="help"
		></p-button>
		<p-button
			size="small"
			class="mx-1"
			icon="pi pi-trash"
			[text]="!isDeleting"
			(click)="deletingEmit()"
			severity="danger"
			[ngClass]="{ 'fadein animation-duration-1000 animation-iteration-infinite': isDeleting }"
		></p-button>
	</div>
</div>
